
.card:hover{
    /* text-align: center; */
    margin-top: -2;
    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-0.40em);
    
}

